@media screen and (max-width: 1024px) {
    .presentation{
     flex-direction: column;
     margin-right: 0;
     margin-left: 0;
    }
    .presentation .image-presentation {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .border {
        display: none;
    }
  }