body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

/* HEADER */

header {
    height: 80px;
    width: 100%;
    background-color: #222aba;
}

.logo{
    float: right;
    height: 80px;
    width: 80px;
}

header .menu {
    display: flex;
    height: 100%;
    text-align: center;
}

header .menu ul {
    margin: auto;
    list-style-type: none;
}

header .menu ul li {
    text-transform: uppercase;
    margin: 15px;
}

header .menu ul li a {
    text-decoration: none;
    color: white;
}

header .menu ul li a:hover {
    text-decoration: none;
    color: #4275da;
}

header .menu li {
    display: inline;
}

/* CONTAINER */

.container {
    background: rgb(34,42,186);
    background: linear-gradient(90deg, rgba(34,42,186,1) 0%, rgba(37,46,210,1) 50%, rgba(41,51,235,1) 100%); 
    text-align: center;
    width: 100%;
    height: 200px;
}

.container h1 {
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding-top: 70px;
}

.container h2 {
    color: black;
}

.container h2:hover {
    color: white;
}

/* PRESENTATION */

.presentation {
    display: flex;
    justify-content: bottom;
    background: rgb(34,42,186);
    background: linear-gradient(90deg, rgba(34,42,186,1) 0%, rgba(37,46,210,1) 50%, rgba(41,51,235,1) 100%); 
    width: 100%;
}

.presentation .image-presentation {
    margin-top: auto;
    bottom: 0;
    height: 90%;
    margin-left: -70px;
}

.presentation .texte-presentation {
    color: rgb(255, 255, 255);
    justify-content: center;
    padding-left: 10px;
    margin-left: 80px;
    margin-right: 10%;
}

.border {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    border: 2px solid white;
    border-radius: 10px;
    height: 55vh;
}

.presentation .texte-presentation .discord-foutucode {
    text-decoration: none;
    color: rgb(0, 253, 63);
}

.presentation .texte-presentation .discord-foutucode:hover {
    text-decoration: none;
    color: rgb(0, 253, 63);
}